<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=cefapp;AccountKey=M3tm9ZFaTG4t2dZ9xea5haQxM5ExphEPgZdEjlI2t/bYz8DCFLLPtpJoLv4BV7dB3x7eLi5qJq5IovDLv1Ddqw==;EndpointSuffix=core.windows.net" />
    <add key="MongoDBConnectionString" value="mongodb://cefapp:MdTc8Kc8DzlTE1RUl1JVDGS4zw1U1t6145sPWqeStWA50xEUKPfUCGlnk3ACkfqH6qLAwpnm9awpY1m8dg0YlQ==@cefapp.documents.azure.com:10250/?ssl=true&amp;sslverifycertificate=false" />
  </appSettings>
</configuration>